<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drc</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="header container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3" id="navbarheader">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Produto" asp-action="Index">Início</a>

                        <!-- Btn Response -->
                        <span style="border:none;" class="navbar-toggler" id="btn-header" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                            <div class="mobile-menu">
                                <div class="line1"></div>
                                <div class="line2"></div>
                                <div class="line3"></div>
                            </div>
                        </span>
                        <!-- Fim Btn Response -->


                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="UnidadeMedida" asp-action="Index">Unidade de Medida</a>
                            </li>
                            </ul>
                        </div>

                </div>
            </nav>
        </div>
    </header>


    <div class="container body">
        <main role="main" class="pb-3">
            <div class="containerbody">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #e8e8e8;">
        <div class="container">
            &copy; 2022 - Drc

            <span style="float:right;">
                By: Filipe Castro
            </span>
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
